extends ../layouts/default

block content
	#contact.text-center: .container
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-offset-2
				form(name="sentMessage" id="contactForm" method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						input(type='text', name='name.full', placeholder='Nome' value=formData['name.full'], required).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						input(type='email', name='email', placeholder="E-mail" value=formData.email, required).form-control
					.form-group
						input(type='text', name='phone', value=formData.phone, placeholder='Telefone (opicional)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						select(name='enquiryType').form-control
							option(value='') (selecione um assunto)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						textarea(name='message', placeholder='Escreve a mensagem...' rows=4, required).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-default.btn-lg Enviar
				.social
					ul
						li: a(href="https://www.facebook.com/nerocesarcoach", target="_blank"): i(class="fa fa-facebook")
						li: a(href="https://www.youtube.com/channel/UCkAFpQ3FqZJXdyycDMdwE0g?view_as=subscriber", target="_blank"): i(class="fa fa-youtube")
						li: a(href="https://linkedin.com/in/nerocesar/", target="_blank"): i(class="fa fa-linkedin")
						li: a(href="https://www.instagram.com/nerocesar/", target="_blank"): i(class="fa fa-instagram")

block css
	link(rel="stylesheet" type="text/css" href="/spectrum/fonts/font-awesome/css/font-awesome.css")
	link(rel="stylesheet" type="text/css"  href="/spectrum/css/style.css")
	link(rel="stylesheet" type="text/css" href="/spectrum/css/nivo-lightbox/nivo-lightbox.css")
	link(rel="stylesheet" type="text/css" href="/spectrumcss/nivo-lightbox/default.css")
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css')

block js
		//- script(type="text/javascript" src="/spectrum/js/SmoothScroll.js") 
		//- script(type="text/javascript" src="/spectrum/js/nivo-lightbox.js")
		//- script(type="text/javascript" src="/spectrum/js/jquery.isotope.js") 
		//- script(type="text/javascript" src="/spectrum/js/jqBootstrapValidation.js") 
		//- script(type="text/javascript" src="/spectrum/js/contact_me.js")
		script(type="text/javascript" src="/spectrum/js/main.js")